<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540061505563-i4lfnn0qqsgjnrvh4c1kjpct9imreovk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540061505563-i4lfnn0qqsgjnrvh4c1kjpct9imreovk</string>
	<key>API_KEY</key>
	<string>AIzaSyDIbsT1n5VQb0Ph01XAh_mcq8ThPEnh-7A</string>
	<key>GCM_SENDER_ID</key>
	<string>540061505563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khaled.Bazaar</string>
	<key>PROJECT_ID</key>
	<string>bazzar-396db</string>
	<key>STORAGE_BUCKET</key>
	<string>bazzar-396db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540061505563:ios:417a60683a2df09f4500be</string>
</dict>
</plist>